<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Flask Note</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css" />
</head>
<body class="uk-width-1-3 uk-container-center uk-block">
<p><a href="{{ url_for('add') }}">새 노트 등록하기</a></p>
<ul class="uk-list uk-list-striped">
{% for item in note %}
    <li>
        <article class="uk-article">
            <h3>{{ item.title }}</h3>
            <p>{{ item.content }}</p>
            <p><a href="{{ url_for('edit', id=item.id) }}">수정</a>&nbsp;&nbsp;<a href="{{ url_for('delete', id=item.id) }}">삭제</a></p>
        </article>
        <hr/>
    </li>
{% endfor %}
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>

</body>
</html>
